body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #35495e;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 10px;
}

section {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.images img {
    width: 48%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.database-image {
  margin-top: 40px;
  text-align: center;
}

.database-image img {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.database-image h2 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  color: #333;
}
